.navSection {background-color: #e3f1fb;
    height: 80px;
    border-bottom: 2px solid;
}

.logo{width: 150px;}
.logo img{width: 100%;}
a.navItem {
padding: 17px;
font-size: 17px;
font-weight: bold;
transition: 0.5s;
color: black;
}
a.navItem:hover{text-decoration: none;
color: orange;}
.background {
    padding-top: 110px;
    background-image: url(images/biography-bg.png);
}
.carousel-item{height: 100vh;}
#textBox{text-align: center;}
#alignJustify{text-align: justify;}
.card {text-align: center;
    border: none;
    box-shadow: 2px 0px 13px #d3d2d2;
    border-radius: 10px;
}

button#buyNowButton {
    width: 118px;
    height: 40px;
    font-size: 17px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.6s;
}
button#buyNowButton:hover{background-color: white;
border: 2px solid black;
color: black;
font-weight: bold;}
.section2, .section3, .section4{padding: 50px 0px;}
.d-flex.bd-highlight {
    padding-bottom: 20px;
}
.imgSize{width:80%;
margin: auto;
padding: 40px 0px 0px 0px;}
a.p-2.bd-highlight.color {
    color: orange;
    font-size: 20px;
    font-weight: 600;
}
.categoriesTitle{text-align: center;}

span {
    padding-bottom: 9px;
    border-bottom: 7px solid orange;
    border-radius: 15px;
}

.section4{}

.resizeImg {
    width: 200px;
    padding: 50px 24px;
    margin: 12px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 30px;
    box-shadow: 1px -3px 35px 11px gainsboro;
}
.col-md-3.d-flex.align-items-start.flex-column {
    padding-top: 30px;
}
.regday{padding-top: 60px;}
div#regday {
    padding-top: 120px;
}
footer p{padding-top: 100px;
    text-align: center;}


